body {color: #26F800;
	background-color: #474545;}
h1 {border-bottom: 2px solid #FF7900;}
button {float: left;}
footer {font-size: 11px; margin-top: 75px}
nav {border: 3px solid #001518}
table {color: #00FFC3}
