body {color: #f0ff00;
	background-color: #020049;}
h1 {border-bottom: 2px solid #00ffdf;}
button {float: left; height:72px; width:72px; padding-left: 20px; padding-right: 20px; background-color:#B700FF; border-radius: 20%; font-size: 10px;}
footer {font-size: 9px;}
