body {color: #f0ff00;
	background-color: #020049; margin-left: auto; margin-right: auto; width: 80%;}
h1 {border-bottom: 2px solid #00ffdf;}
button {float: left; height:80px; width:80px; margin-left: 20px; margin-right: 20px; background-color:#B700FF; border-radius: 100%; font-size: 12px; text-align: center;}
footer {font-size: 11px; margin-top: 75px}
